{% extends 'plantilla.html' %}

{% block titulo %} listado de las empresas {% endblock %}

{% block contenido %}
<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>RUC</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados %}
                <tr>
                    <td>{{ resultado.id }}</td>
                    <td>{{ resultado.ruc }}</td>
                    <td>{{ resultado.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>RUC</th>
                <th>Empresa</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}